
body{
    background-color: whitesmoke;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Righteous', cursive;
    background: rgb(28, 165, 184);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:space-between;  
}

footer{
    background: rgb(28, 165, 184);
}

/* Class selectors */
.carousel-img {
    height: 600px;
}
.card {
    border-color: rgb(28, 165, 184);
    border-style: solid;
    border-width: 3px;
}

.card-title {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 100%;
}


.heroMessage {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
}


.rounded {
    width: 70%;
    padding-bottom: 10px;
}

.dropdown {
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 40px;
}

input[type="text"]#distance {
    color: grey;
    text-align: right;
}

input[type="text"]#distance-two {
    color: black;
    text-align: right;
    width: 70px;
    border-left: 0px;
    margin: 0 0 0 -7px;
    background-color: white;
}
#map {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}